<div ngModelGroup="{{modelGroupName}}">

    <div fxLayout="column" fxLayoutGap="20px">
        <label>¿Actualmente uso cubre bocas o caretas?</label>
        <mat-radio-group class="example-radio-group" name="facemask" required ngModel>
            <mat-radio-button class="example-radio-button" *ngFor="let facemask of facemasks" [value]="facemask">
                {{facemask}}
            </mat-radio-button>
        </mat-radio-group>
        
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
        <label>¿Mantienes la sana distancia en esta cuarentena? (1.5 metros)</label>
        <mat-radio-group class="example-radio-group" name="distance" required ngModel>
            <mat-radio-button class="example-radio-button" *ngFor="let frecuency of times" [value]="frecuency">
                {{frecuency}}
            </mat-radio-button>
        </mat-radio-group>
        
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
        <label>¿Desinfectas los víveres y/o comida a domicilio cuando llegan a tu casa?</label>
        <mat-radio-group class="example-radio-group" name="disinfect" required ngModel>
            <mat-radio-button class="example-radio-button" *ngFor="let frecuency of times" [value]="frecuency">
                {{frecuency}}
            </mat-radio-button>
        </mat-radio-group>
        
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
        <label>¿Tienes tapetes sanitizantes y/o gel en casa?</label>
        <mat-radio-group class="example-radio-group" name="tapete" required ngModel>
            <mat-radio-button class="example-radio-button" *ngFor="let tapete of tapetes" [value]="tapete">
                {{tapete}}
            </mat-radio-button>
        </mat-radio-group>
        
    </div>
    
    <div fxLayout="column" fxLayoutGap="20px">
        <label>¿Asistes a reuniones de más de 5 personas con o sin cubre bocas y/o careta facial, en la cuarentena?</label>
        <mat-radio-group class="example-radio-group" name="reunion" (change)="handleReunion($event.value)" required ngModel>
            <mat-radio-button class="example-radio-button" *ngFor="let reunion of reuniones" [value]="reunion">
                {{reunion}}
            </mat-radio-button>
        </mat-radio-group>
        
    </div>
    
    <div fxLayout="column" fxLayoutGap="20px" *ngIf="selectedReunion != 'Nunca'" fxLayoutGap="0px">
        <label>¿Cuando asistes a las reuniones de más de 2 veces por semana (4) de 5 personas, en la cuarentena, usas gel y/o guantes?</label>
        <mat-radio-group class="example-radio-group" name="asistencia" required ngModel>
            <mat-radio-button class="example-radio-button" *ngFor="let asistencia of asistencias" [value]="asistencia">
                {{asistencia}}
            </mat-radio-button>
        </mat-radio-group>
        
    </div>

    <div>
        <button class="btn btn-info" mat-button matStepperPrevious>Back</button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-info" mat-button matStepperNext>Next</button>
    </div>

</div>
