/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth;}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body {
  font-family: "Nunito Sans",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #eef5f9;
    margin: 0;
    overflow-x: hidden;
    color: #3e5569;
    background: #eef5f9;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.bg-success {
  background-color: #36bea6!important;
}

/*.header {
  color: #212529;
  background-color: #00a085;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  height: auto;
}*/


.subheader {
  background-color:#fff;
  color: #000066;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  height: auto;
  /*border-bottom: .5px solid #888888;*/
}

.title{
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  background-color: #20aee3;
  color:#fff;
}

.home-subheader{
  background-color:  #20aee3;
}

.badge-info {
  color: #fff;
  background-color: #20aee3;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #67757c;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-info {
  color: #fff;
  background-color: #20aee3;
  /*border-color: #20aee3;*/
}

.btn-info:hover{
  color: #fff;
  background-color: #26b8ed;
}

.btn-home{
  text-transform: uppercase;
  font-size: .75rem;
}

.btns{
  position: relative;
}

.btn-left{
  position: absolute;
  left: -130%;
  top: 5px;
}

.btn-right{
  position: absolute;
  right: -130%;
  top: 5px;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #20aee3;
  color: #fff;
}

.info{
  padding-top: .75rem;
  font-size: 1rem;
}

.mat-card-title{
  background-color: #20aee3
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section div, .personal div{
  align-self: center;
}

.personal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto;
}

.question{
  box-shadow: 5px 10px 20px #aaaaaa;
  width: 500px;
  padding: 1rem;  
  margin: 2rem;
}

.personalQ{
  width: 400px;
  box-shadow: 5px 10px 20px #d6dce0;
  padding: .75rem;
  margin: 1rem;
}

.question label{
  font-size: .875rem;
}

.logo{
  height: 30px;
  float: left;
}


/* .container{
  margin: 15px;
  height:200px;
  border:2px solid red;
 }

.container { // for desktop & tablet
  display: flex;
  flex-flow: row wrap;
} */

/* .container div {
  width: 75%
}

@media for middle { // for tablet (mid)
  .container div {
      width: 50%
  }
}

@media for mobile { //for mobile
  .container {
      flex-direction: column;
  }

  .container div {
      width: 100%
  }
}
 */

/* 
mat-card {
  border:2px solid greenyellow;
} */